* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background: #f5f5f5;
    margin: 0;
}

header,
footer {
    background: #003366;
    color: white;
    padding: 1rem;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.active {
    background: gold;
    color: black;
    padding: .5rem;
    border-radius: 5px;
}

#menu {
    display: none;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.buttons {
    text-align: center;
    margin-bottom: 1rem;
}

.buttons button {
    padding: .75rem 1rem;
    margin: .5rem;
}

.grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit,
        minmax(250px,1fr));

    gap: 1rem;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 150px;
    height: auto;
}

/* LIST VIEW */

.list {
    display: flex;
    flex-direction: column;
}

.list .card {
    text-align: left;
}

.list img {
    display: none;
}

/* MOBILE */

@media (max-width:700px) {

    #menu {
        display: block;
        font-size: 2rem;
        border: none;
        background: none;
        color: white;
    }

    .navigation {
        display: none;
        flex-direction: column;
    }

    .navigation.open {
        display: flex;
    }
}