/* ------------------------
   larger.css
------------------------- */

@media only screen and (min-width: 768px) {

    /* Hide hamburger */

    #menu {
        display: none;
    }

    /* Navigation */

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        flex: 1;
    }

    /* Main Layout */

    .top-sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: start;
    }

    /* Course Cards */

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Footer */

    footer {
        text-align: center;
    }
}